#<vendor.config:1.0>
###############################################################################
#
#	Purpose:
#		https://github.com/WhisperingChaos/config.sh/blob/master/component/vendor.config
#
############################################################################### 
[whisperingchaos.bash.component]
'base'		'https://github.com/WhisperingChaos/assert.source.sh'	'master'
'sourcer'	'https://github.com/WhisperingChaos/sourcer.sh'			'master'

